nav a:not(:first-child) {
	display: none;
}

nav a.icon {
	float: right;
	display: block;
	top: 0px;
}

@media screen and (max-width: 600px) {
  .NavBar.responsive {position: relative;}
  .NavBar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .NavBar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

nav img {
	display: none;
	
}

main {
	top: auto;
	margin-top: 50px;
	width: 96%;
} 

nav {
	height: auto;
} 

aside
{
	display: none;
}

